header > h1{text-align: center; }
header > h6{text-align: center;}
header{background-color: white;}
menu{background-color: black;}
menu > a > li{display: inline; color: white;}
menu{list-style-type: none;}
