header > h1{text-align: center;top: 0%;}
header > h3{text-align: center;}
header{background-color: black;list-style-type: none;position: sticky;top: 0%;height: 154px;}
#col-izq{width: 1%;float: left;}
#col-der{width: 99%;float: right;color: white;text-align: center;}
menu{background-color: black;float: right;}
menu > a > li{display: inline; color: white;}
menu{list-style-type: none;}

body{
    background-image:url("./imgs/oldtrafford3.jpg"),url("./imgs/borussia3.jpg"),url("./imgs/vestuario3.jpg");
    background-position: top left, center center, bottom right;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%;
     }

h2{color: white;}
#pag1{color: white; margin: 50px; padding: 40px;text-align: center;}

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    height:600px;
    padding: 65px;
  }
  .grid-item {
    color: white;
    height:300px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

 